body {
    background: #cbf3f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    height: 300px;
    width: 400px;
    border: #000000 solid 3px;
    margin: 2%;
}

.a1 {
    background: #5d3a3a;
}

.b1 {
    margin: 0;
    width: 200px;
    height: 200px;
    background: #b5e0ba;
    border: 0px;
}

.a2 {
    background: #62374e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b2 {
    margin: 12%;
    width: 50px;
    height: 50px;
    background: #fdc57b;
    border: 0;
}